/* //FONTS */
@font-face {
  font-family: 'futura';
  src: url("fonts/futura.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'midellion';
  src: url("fonts/midellion.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* //ICONCS */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon/icomoon.eot?vqo716");
  src: url("fonts/icomoon/icomoon.eot?vqo716#iefix") format("embedded-opentype"), url("fonts/icomoon/icomoon.ttf?vqo716") format("truetype"), url("fonts/icomoon/icomoon.woff?vqo716") format("woff"), url("fonts/icomoon/icomoon.svg?vqo716#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-check:before {
  content: "\e900"; }

.icon-enter:before {
  content: "\e901"; }

.icon-fast:before {
  content: "\e902"; }

.icon-play:before {
  content: "\e903"; }

.icon-plus:before {
  content: "\e904"; }

.icon-trash:before {
  content: "\e905"; }

/* //INICIALES */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: verdana;
  color: #343D46;
  position: relative;
  background: #264479;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

h1 {
  font-family: 'midellion'; }

h2, h3, h4, h5, h6 {
  font-family: 'futura'; }

a {
  display: inline-block;
  text-decoration: none; }

img {
  width: 100%;
  display: block; }

input, textarea, button {
  outline: none; }

/* //Estilos APP */
.app_content {
  background: url(../img/bg-phone.jpg) #722E80;
  width: 400px;
  max-width: 400px;
  height: 768px;
  margin: 50px auto 0px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  overflow: auto;
  position: relative;
  overflow-x: hidden; }
  .app_content .app_list,
  .app_content .app_add_list {
    width: 100%;
    height: 100%; }
  .app_content .app_list {
    position: relative;
    overflow: auto; }
    .app_content .app_list::-webkit-scrollbar {
      width: 5px;
      border-radius: 5px; }
    .app_content .app_list::-webkit-scrollbar-track {
      border-radius: 5px;
      background-color: #264479; }
    .app_content .app_list::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #A92A87; }
    .app_content .app_list .app_add_header {
      background: #264479;
      /* Old browsers */
      background: -moz-linear-gradient(45deg, #264479 0%, #722e80 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, #264479 0%, #722e80 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: -o-linear-gradient(45deg, #264479 0%, #722e80 100%);
      background: linear-gradient(45deg, #264479 0%, #722e80 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264479', endColorstr='#722e80',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
      position: -webkit-sticky;
      position: sticky;
      top: 0px;
      padding: 1rem;
      height: 80px; }
      .app_content .app_list .app_add_header .app_h1 {
        color: #fff;
        font-size: 3rem;
        letter-spacing: 1px;
        font-weight: lighter;
        line-height: 40px;
        padding-left: 0.5rem;
        text-shadow: 1px 1px #000; }
      .app_content .app_list .app_add_header .app_btn_add {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 30px;
        height: 30px;
        font-size: 2.5rem;
        line-height: 0px;
        color: #fff;
        background: transparent;
        border: 0px;
        border-radius: 50%;
        cursor: pointer;
        text-shadow: 1px 1px #000; }
    .app_content .app_list .app_activitys {
      padding: 2rem; }
      .app_content .app_list .app_activitys .app_h2 {
        color: #fff;
        font-size: 1rem;
        letter-spacing: 1.5px;
        margin-bottom: 0.7rem; }
      .app_content .app_list .app_activitys .app_actitvity {
        background: #fff;
        padding: 1rem;
        /* border-radius: 5px; */
        border-radius: 95% 5% 96% 4% / 6% 89% 11% 94%;
        -webkit-box-shadow: 1px 1px 30px #000;
        box-shadow: 1px 1px 30px #000;
        margin-bottom: 1rem; }
        .app_content .app_list .app_activitys .app_actitvity .app_h3 {
          letter-spacing: 1px; }
        .app_content .app_list .app_activitys .app_actitvity .app_p {
          font-size: 0.8rem;
          margin: 0.5rem 0 1rem; }
        .app_content .app_list .app_activitys .app_actitvity .app_actitvity_hr {
          border: 1px solid rgba(0, 0, 0, 0.1); }
        .app_content .app_list .app_activitys .app_actitvity .app_date {
          margin-top: 0.5rem;
          height: 36px;
          position: relative; }
          .app_content .app_list .app_activitys .app_actitvity .app_date .add_date_p {
            font-size: 0.6rem;
            display: table;
            line-height: 18px; }
            .app_content .app_list .app_activitys .app_actitvity .app_date .add_date_p span {
              font-size: 0.7rem; }
          .app_content .app_list .app_activitys .app_actitvity .app_date .app_date_btns {
            position: absolute;
            top: 4px;
            right: 0px; }
            .app_content .app_list .app_activitys .app_actitvity .app_date .app_date_btns .app_date_btn {
              border: 0px;
              height: 30px;
              width: 30px;
              font-size: 1.1rem;
              line-height: 0px;
              border-radius: 71% 29% 65% 35% / 29% 74% 26% 71%;
              cursor: pointer;
              background: #eee;
              color: #a1a1a1;
              -webkit-transition: all 0.2s;
              -o-transition: all 0.2s;
              transition: all 0.2s; }
              .app_content .app_list .app_activitys .app_actitvity .app_date .app_date_btns .app_date_btn:hover {
                border-radius: 29% 74% 26% 71% / 71% 29% 65% 35%; }
                .app_content .app_list .app_activitys .app_actitvity .app_date .app_date_btns .app_date_btn:hover [class^="icon-"], .app_content .app_list .app_activitys .app_actitvity .app_date .app_date_btns .app_date_btn:hover [class*=" icon-"] {
                  font-weight: bold; }
                .app_content .app_list .app_activitys .app_actitvity .app_date .app_date_btns .app_date_btn:hover .icon-trash {
                  color: #D85B57; }
                .app_content .app_list .app_activitys .app_actitvity .app_date .app_date_btns .app_date_btn:hover .icon-check {
                  color: #27AE60; }
              .app_content .app_list .app_activitys .app_actitvity .app_date .app_date_btns .app_date_btn:active {
                -webkit-transform: scale(0.7);
                -ms-transform: scale(0.7);
                transform: scale(0.7); }
        .app_content .app_list .app_activitys .app_actitvity.app_actitvity_checked .app_date_btns [class^="icon-"], .app_content .app_list .app_activitys .app_actitvity.app_actitvity_checked .app_date_btns [class*=" icon-"] {
          color: #fff; }
        .app_content .app_list .app_activitys .app_actitvity.app_actitvity_checked .app_date_btns .app_date_btn:hover [class^="icon-"], .app_content .app_list .app_activitys .app_actitvity.app_actitvity_checked .app_date_btns .app_date_btn:hover [class*=" icon-"] {
          color: #fff;
          font-weight: normal; }
        .app_content .app_list .app_activitys .app_actitvity.app_actitvity_checked .app_date_btns .app_date_btn:first-child {
          background: #D85B57; }
        .app_content .app_list .app_activitys .app_actitvity.app_actitvity_checked .app_date_btns .app_date_btn:last-child {
          background: #27AE60; }
    .app_content .app_list .app_hr {
      width: 70px;
      border: 0.04rem solid #fff;
      margin: 0rem auto 0rem;
      border-radius: 5px; }
    .app_content .app_list .app_logo {
      width: 35px;
      margin: 2rem auto; }
  .app_content .app_add_list {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#722e80+0,264479+100 */
    background: #722e80;
    /* Old browsers */
    background: -moz-linear-gradient(top, #722e80 0%, #264479 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #722e80 0%, #264479 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(#722e80), to(#264479));
    background: -o-linear-gradient(top, #722e80 0%, #264479 100%);
    background: linear-gradient(to bottom, #722e80 0%, #264479 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#722e80', endColorstr='#264479',GradientType=0 );
    /* IE6-9 */
    position: absolute;
    top: 0px;
    left: 100%; }
    .app_content .app_add_list .app_h1 {
      font-family: 'midellion';
      color: #fff;
      text-align: center;
      margin-top: 5rem;
      font-size: 3rem;
      font-weight: lighter;
      letter-spacing: 1px; }
    .app_content .app_add_list .app_form {
      position: relative;
      width: 70%;
      margin: 5rem auto 0; }
      .app_content .app_add_list .app_form input[type="text"], .app_content .app_add_list .app_form input[type="date"], .app_content .app_add_list .app_form textarea {
        border: 0px;
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 0.8em 0.8rem 0.5rem 0.8rem;
        resize: none;
        background: transparent;
        color: #fff;
        border-bottom: 2px solid #fff;
        font-family: sans-serif; }
      .app_content .app_add_list .app_form textarea {
        height: 150px; }
      .app_content .app_add_list .app_form button {
        position: absolute;
        width: 40px;
        height: 40px;
        color: #fff;
        border: 0px;
        border-radius: 50%;
        -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
        bottom: -80px;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        .app_content .app_add_list .app_form button:active {
          -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
          transform: scale(0.9); }
        .app_content .app_add_list .app_form button.remove {
          background: red;
          position: relative; }
          .app_content .app_add_list .app_form button.remove span {
            position: absolute;
            top: 4px;
            left: 14px;
            font-size: 1.5rem; }
        .app_content .app_add_list .app_form button.add {
          background: #00913D !important;
          right: 0; }
          .app_content .app_add_list .app_form button.add span {
            position: absolute;
            top: 9px;
            left: 10px;
            font-size: 1.4rem; }
