@import url('https://fonts.googleapis.com/css?family=Exo+2');
$color-principal:rgba(#051A81, 0.5);
$font:'Exo 2', sans-serif;
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 16px;
	font-family: $font;
	background: #eee;
}
.noFill{
	fill: none;
}
a{
	display: inline-block;
	text-decoration: none;
}
img{
	width: 100%;
}
ul{
	list-style: none;
}
hr{
	border: 0.03rem solid #ddd;
	width: 50%;
	margin: 0rem auto 1rem;
}
.contenedor{
	max-width: 480px;
	width: 95%;
	margin: auto;
	.header{
		width: 100%;
		height: 80px;
		z-index: 5;
		background: $color-principal;
		border-radius: 0 0 10px 10px;
		box-shadow: 0px 2px 4px rgba(44, 62,80, 0.15);
		padding: 0.9rem;
		position: relative;

		input{
			font-family: $font;
			width: 100%;
			height: 50px;
			float: left;
			background: rgba(#fff, 0.2);
			border-radius: 5px 25px 25px 5px;
			border: 0;
			box-shadow: none;
			outline: none;
			appearance:none;
			padding: 1rem 3.8rem 1rem 1rem;
			color: #fff;
			&::-webkit-input-placeholder{
				color:rgba(#fff, 0.55);
			}
		}

		button{
			width: 50px;
			height: 50px;
			position: absolute;
			top:15px;
			right: 12px;
			z-index: 2;
			border-radius: 50%;
			border: 0;
			background: #fff;
			outline: none;
			cursor: pointer;

			svg{
				width: 20px;
				height: 20px;
				position: absolute;
				top:50%;
				left: 50%;
				margin: -10px 0 0 -10px;

				.fill{
					fill: $color-principal;
				}
			}
		}
	}
	.content{
		padding: 1rem 0rem;
		.todo{
			width: 100%;
			float: left;
			margin-bottom: 1rem;

			li{
				margin-bottom: 1rem;
				padding: 1rem;
				font-size: 0.8rem;
				color: #444;
				width: 100%;
				height: 50px;
				float: left;
				background: #fff;
				border-radius: 5px;
				box-shadow: 0px 1px 2px rgba(44, 62,80, 0.10);
				position: relative;

				.buttons{
					width: 100px;
					height: 50px;
					position: absolute;
					top:0;
					right: 0;

					button{
						position: relative;
						width: 50px;
						height: 50px;
						float: left;
						appearance:none;
						border: 0;
						background: none;
						outline: none;
						cursor: pointer;


						&:first-of-type{
							&:before{
								content:"";
								width: 1px;
								height:30px;
								position: absolute;
								top:10px;
								right: 0;
								background: #ccc;
							}
						}
						svg{
							width: 22px;
							height: 22px;
							.fill{
								transition: all 0.2s
							}
						}
						&.remove{
							svg{
								.fill{
									fill:#c0cecb;
								}
							}
							&:hover{
								svg{
									.fill{
										fill:#e85656;
									}
								}
							}
						}
						&.complete{
							/* background: red; */
							width: 22px;
							height: 22px;
							border-radius: 50%;
							border: 2px solid $color-principal;
							position: absolute;
							top: 13px;
							right: 12px;
							svg{
								position: absolute;
								top: -1px;
								left: -2px;
								.fill{
									fill:$color-principal;
								}
							}
						}
					}
				}
			}
			&#todo{
				&:before{
					content:'Lista de pendientes';
				}
			}
			&#completed{
				&:before{
					content:'Lista de realizados';
				}
				li{
					.buttons{
						button{
							&.complete{
								background: $color-principal;
								border: 2px solid $color-principal;
								svg{
									.fill{
										fill: #fff;
									}
								}
							}
						}
					}
				}
			}

			&#todo,
			&#completed{
				&:before{
					width:100%;
					display: block;
					text-align: center;
					font-size: 0.8rem;
					color: #aaa;
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}